<div class="container">
 <h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><% if @task.completed == true %>
     <%= "done"%>
    <%else%>
      <%= "not done"%>
    <%end%>

</div>

<div>
   <%=link_to "ðŸ“", edit_task_path(@task) %>
   <%=link_to "ðŸ—‘", task_path(@task), method: :delete,data: { confirm: "Are you sure?" } %>
</div>

